/* Hikayeler Sayfası Stilleri */
body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

.pt-serif-bold {
    font-weight: 700;
}

.bg-purple {
    background-color: rgb(153, 117, 186);
}

.border-bottom-dark {
    border-bottom: 1px solid #222222;
}

/*İletişim Sayfası Stilleri */

/* styles.css */
.contact-container {
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.contact-left {
    background: linear-gradient(135deg, #6a0dad, #d63384);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
.contact-left h2 {
    font-size: 24px;
    font-weight: bold;
}
.contact-right {
    padding: 40px;
}
.btn-primary {
    background-color: #6a0dad;
    border-color: #6a0dad;
}
.btn-primary:hover {
    background-color: #d63384;
    border-color: #d63384;
}
